/* baserCMS THEME [bootstrap4] style.css */


.message {
	position: relative;
	padding: .75rem 1.25rem;
	margin-bottom: 1rem;
	border: 1px solid transparent;
	border-radius: .25rem;
	color: #721c24;
	background-color: #f8d7da;
	border-color: #f5c6cb;
}

.alert-message {
	color: #721c24;
	background-color: #f8d7da;
	border-color: #f5c6cb;
}

.error-message {
	color: pink;
}

.notice-message {
	color: #0c5460;
	background-color: #d1ecf1;
	border-color: #bee5eb;
}